<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Employee.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <Employee.My.MySettings>
            <setting name="gStrDatabase_Name" serializeAs="String">
                <value>local</value>
            </setting>
            <setting name="gStrUSER" serializeAs="String">
                <value>Sa</value>
            </setting>
            <setting name="gStrPW" serializeAs="String">
                <value>P@ssw0rd1</value>
            </setting>
            <setting name="gStrDatabase_Server" serializeAs="String">
                <value>AXN-LAP-115</value>
            </setting>
        </Employee.My.MySettings>
    </userSettings>
</configuration>
